* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #333;
}

body, select, input {
  font: 20px/1.5 Arial, sans-serif;
}

#app {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#app h1 {
  line-height: 1;
  color: white;
  font-size: 100%;
  position: fixed;
  left: 1em;
  bottom: 2em;
  margin: 0;
  z-index: 1000;
  text-shadow: 0 0 5px #000;
}

#app h1 pre {
  font-family: ubuntu mono, monospace;
  margin: 0;
}

#map {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
}

#details {
  position: absolute;
  color: white;
  top: 0;
  left: 50%;
  right: 0;
}

#location {
  margin: 1em;
}

#location select {
  width: 100%;
  font-size: 200%;
  font-weight: bold;
  padding: 0.2em 0.4em;
  border: 2px solid white;
  background: #333;
  color: white;
}

#graphs {
  margin: 1em;
}

#graphs .graph {
  padding: 1em;
  border: 2px white solid;
  margin-bottom: 1em;
  vertical-align: top;
}

#graphs .graph h2 {
  margin: 0;
}

#graphs .graph.warning {
  color: #f44;
  border-color: #f44;
}

#graphs .graph.value {
  height: 11rem;
  margin-right: 0.5em;
  width: calc(50% - 0.5em);
  display: inline-block;
  text-align: center;
  background: no-repeat center center;
  background-size: cover;
}

#graphs .graph.rainfall {
  background-image: url(../images/rainfall.png);
}

#graphs .graph.slope {
  background-image: url(../images/slope.png);
}

#graphs .graph.value .current {
  font-weight: bold;
  font-size: 250%;
}

#graphs .graph.status {
  height: 11rem;
  padding-top: 2rem;
  font-size: 120%;
  margin-left: 0.5em;
  width: calc(50% - 0.5em);
  display: inline-block;
  text-align: center;
}

